
/********Tags*********/

body {
    
    
    display:flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
    font-family: arial;
    color: black;
    text-align: right;
    padding-right: 50px;

    
}



footer{
    justify-content: bottom;
    
}

.my-name {
    display: flex;
    justify-content: end;

    
}
.my-name a{
    text-decoration: none;
    color: black;
}
.my-name a:hover{
    text-decoration: none;
    color: #C3C4C6;
    
}


.primary-navigation{
    display: flex;
    justify-content: end;
    
}
.primary-navigation ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.primary-navigation a{
    display: flex;
    color: black;
    text-decoration: none;
}
.primary-navigation a:hover{
    color: #47474C;
}

.audio-project-links {
    display: flex;
    justify-content: end;
}

.audio-project-links a{
    
    color: black;
    text-decoration: none;
}

.audio-project-links a:hover{
    color: grey;
}


.audio-project-links ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px; 
}


.education-list{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.education-list ul{
    list-style: none;
}

.edu-list-type{
    font-size: 10px;
}
/*
 .art-links{
     border: dotted red;
 }
*/




.show-links a{
    display: flex;
    justify-content: end;
    text-decoration: none;
    
    color: black; 
}


.show-links a:hover{
    color: grey;
}


.art-shows-type{
    font-size: 10px;
}

