
/********Tags*********/

body {
     
    //min-height: 80px;
    //border: 8px solid black;
    display:flex;
    flex-direction: column;
   // justify-content: right;
    background-color: white;
    gap: 20px;
    font-family: arial;
    color: black;
    text-align: right;
    padding-right: 50px;

    
}



footer{
    
}







