
/********Tags*********/

body {
    background-color: white;
    
}

/* img{
  height: 50%;
  width: 50%;
}
*/




/************class tags*********************/

/**.class**/




div {
    color: white;
    background-color: white;
}

h1{
    font-family: arial;
    color: black;
}

h2{
    font-family: arial;
    color: black;
}

h3{
    font-family: arial;
    color: black;
}


p {
    font-family: arial;
    color: black;
}

a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}

.name{
    display: flex;
    
    justify-content: right;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px
}

.title{
    display: flex;
    justify-content: right;
    
}

.pageTitle{
    display: flex;
    justify-content: right;
}


.audioProjects{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: right;
    
}

.visualProjects{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: right;
    
}

.mail{
    display: flex;
    justify-content: right;
}

.vitae{
    display: flex;
    flex-direction: column;
    align-content: right;
}
